<!doctype html>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Go to Home</a>
                <p-accordion>
                    <p-accordionTab header="Car Detail Table" [(selected)]="activeState[0]">
                        <div>
                            <p-table [value]="carImageDetailDtos" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" selectionMode="single">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>ID</th>
                                        <th>carID</th>
                                        <th>brandName</th>
                                        <th>colorName</th>
                                        <th>modelYear</th>
                                        <th>dailyPrice</th>
                                        <th>description</th>
                                        <th>imagePath</th>
                                        <th>date</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-carImageDetailDto>
                                    <tr (click)="getCarImageView(carImageDetailDto.id)" (click)="toggle(0)" (click)="toggle(1)">
                                        <td>{{carImageDetailDto.id}}</td>
                                        <td>{{carImageDetailDto.carID}}</td>
                                        <td>{{carImageDetailDto.brandName}}</td>
                                        <td>{{carImageDetailDto.colorName}}</td>
                                        <td>{{carImageDetailDto.modelYear}}</td>
                                        <td>{{carImageDetailDto.dailyPrice}}</td>
                                        <td>{{carImageDetailDto.description}}</td>
                                        <td>Hidden</td>
                                        <td>{{carImageDetailDto.date}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </li>
            <li class="vh-80 w-100">
                <br>
                <p-accordion>
                    <p-accordionTab header="Color Table" [(selected)]="activeState[1]">
                        <iframe [src]='getUrl()' class=" w-100 vh-100 d-block border-0"></iframe>
                    </p-accordionTab>
                </p-accordion>
            </li>
            <li class="nav-item container">
                <a class=" nav-link " [href]='getUrl()'>Go to select Image</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link disabled " href="# " tabindex="-1 " aria-disabled="true ">Coming Soon</a>

            </li>
        </ul>
    </div>
    <div class="d-inline">
        <h5 class="card-title ">All Images</h5>
        <div class="card-body " *ngFor="let carImageDetailDto of carImageDetailDtos">
            <div class="row row-cols-1 row-cols-md-1 g-4 ">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" [src]="getCarImages(carImageDetailDto) |safe:'url'" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{carImageDetailDto.modelYear}}</h5>
                        <p class="card-text">{{carImageDetailDto.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="# " class="btn btn-primary ">Go somewhere</a>
    <br>
</div>