<div>
    <div>
        <h3>Color Table</h3>
        <app-color></app-color>
    </div>
    <div>
        <h3>Brand Table</h3>
        <app-brand></app-brand>
    </div>
    <div>
        <h3>Car Detail Dto Table</h3>
        <app-car-detail-dto></app-car-detail-dto>
    </div>
    <div>
        <h3>Customer Detail Dto Table</h3>
        <app-customer-detail-dto></app-customer-detail-dto>
    </div>
    <div>
        <h3>Rental Detail Dto Table</h3>
        <app-rental-detail-dto></app-rental-detail-dto>
    </div>
</div>