<div class="card" style="width: 256px;position: relative;display:inline-block;">
    <div style="height: auto;width: 100%;">
        <app-car-image-gallery [carId]="carId"></app-car-image-gallery>
    </div>

    <div class="card-body">
        <h5 class="card-title ">{{carDetailDto?.brandName}}</h5>
        <div class="card-text">
            <div>Model Year: {{carDetailDto?.modelYear}}</div>
            <div>Color: {{carDetailDto?.colorName}}</div>
            <div>Daily Price: {{carDetailDto?.dailyPrice}}</div>
            <div>Description: {{carDetailDto?.description}}</div>
        </div>
        <a (click)="addToCart(carDetailDto)" class="btn btn-primary">Rent</a>
    </div>
</div>