<div class="container">
    <div class="p-inputgroup" [formGroup]="brandAddForm">
        <label class="p-inputgroup-addon">Brand Name</label>
        <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
        <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart"></i></span>
        <input type="text" pInputText placeholder="Name" formControlName="brandName">
        <span class="p-inputgroup-addon">Name</span>
        <span class="p-inputgroup-addon">String</span>
    </div>
    <div class="row h-50">
        <div class="col-sm-12 h-10 d-table">
            <div class="card card-block d-table-cell align-middle text-center border-0 p-2">
                <p-button (click)="confirmPosition('bottom')" icon="pi pi-arrow-up" label="Upload" styleClass="p-button-success p-mr-2"></p-button>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>