<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="registerForm">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating p-1">
                <input formControlName="nickName" type="email" class="form-control" id="floatingInput" placeholder="Nick Name">
                <label for="floatingInput">Nick Name</label>
            </div>
            <div class="form-floating p-1">
                <input formControlName="firstName" type="email" class="form-control" id="floatingInput" placeholder="First Name">
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating p-1">
                <input formControlName="lastName" type="email" class="form-control" id="floatingInput" placeholder="Last Name">
                <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating p-1">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating p-1">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button (click)="register()" class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020–2021</p>
        </form>
    </main>
</body>