<body class="text-center">
    <main class="form-register">
        <form [formGroup]="registerForm">
            <h1 class="h3 mb-3 fw-normal">Sign up to see cars rent.</h1>
            <div class="form-floating p-1">
                <input formControlName="firstName" type="text" class="form-control" id="floatingInputFirstName" placeholder="First Name">
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating p-1">
                <input formControlName="lastName" type="text" class="form-control" id="floatingInputLastName" placeholder="Last Name">
                <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating p-1">
                <input formControlName="nickName" type="text" class="form-control" id="floatingInputNickName" placeholder="Nick Name">
                <label for="floatingInput">Nick Name</label>
            </div>
            <div class="form-floating p-1">
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-control p-1">
                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" (keyup)="keyupPasswordEvent($event)">
                <label for="floatingPassword">Password</label>
                <div [style]="passwordSecurityKnobClass">
                    <p-knob formControlName="passwordsecurity" [(ngModel)]="passwordSecurityKnobValue" valueColor="Black" rangeColor="Blue"></p-knob>
                </div>

            </div>
            <div class="p-2">
                <label>By signing up, you agree to our <br> <a routerLink="/#" class="bg-black">Terms & Privacy Policy.</a></label>
            </div>
            <button (click)="register()" class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020–2021</p>
        </form>
    </main>
</body>