<p-galleria [value]="carImageDetailDtos" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px', 'margin-top':'2em'}" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
    [showItemNavigatorsOnHover]="false" [showIndicatorsOnItem]="true">
    <ng-template pTemplate="item" let-item>
        <div style="width: 256px;height: 256px;">
            <img [src]="getCarImages(item)" style="width: 100%; height: 100%; object-fit:contain; display: block;margin: auto;" />
        </div>

    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="getCarImages(item)" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>