<div class="p-mb-3">
    <app-car-image-gallery [carId]="carId">
    </app-car-image-gallery>
</div>
<div *ngIf="setCarDetailDto()">
    <h4 class="p-mb-1">Brand Name:{{setCarDetailDto().brandName}}</h4>
    <h6 class="p-mt-0 p-mb-3">${{setCarDetailDto().dailyPrice|number}}</h6>
    <span [class]="'product-badge status-'+setCarDetailDto().brandName.toLowerCase()">Description:{{setCarDetailDto().description|number}}</span>
    <div class="car-buttons p-mt-5">
        <p-button type="button" styleClass="p-button p-button-rounded p-mr-2">
            <mat-icon>date_range</mat-icon>
            <label>12-19-1999</label>
        </p-button>
    </div>
</div>
<form [formGroup]="rentACarChilForm">
    <div class="p-fluid p-grid p-formgrid fixed">
        <div class="p-field p-col-12 p-md-4">
            <p-calendar formControlName="rentDate" inputId="basic" [(ngModel)]="date1"></p-calendar>
            <p-calendar formControlName="returnDate" inputId="basic" [(ngModel)]="date2"></p-calendar>
        </div>
    </div>
    <div class="p-fluid p-grid p-formgrid fixed">
        <div class="p-field p-col-12 p-md-4">
            <p-dropdown inputId="dropdown" formControlName="customerID" [autoDisplayFirst]="false" [options]="customers" optionValue="id" optionLabel="companyName" class="ng-invalid ng-dirty" placeholder="Name">
            </p-dropdown>
        </div>
    </div>
    <button (click)="output()" class="btn btn-primary{{outputClass}}">Sumbit</button>
</form>