<p-carousel [value]="cartItems" styleClass="custom-carousel" [numVisible]="2" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h5>List of rented cars</h5>
    </ng-template>
    <ng-template let-cartItem pTemplate="item">
        <div class="cartitem-item">
            <div class="cartitem-item-content">
                <app-rent-acar-child [carId]="cartItem.carDetailDto.id" (valueChange)="fakerentDetail($event)"></app-rent-acar-child>
            </div>
        </div>
    </ng-template>
</p-carousel>
<div *ngIf="getFakeRentDetail()">
    <div *ngFor="let fakeRental of getFakeRentDetail()">
        <div>Your car: {{fakeRental.rental.carID}},Count: {{fakeRental.quantity}}</div>
    </div>
</div>
<div class="row h-50">
    <div class="col-sm-12 h-10 d-table">
        <div class="card card-block d-table-cell align-middle text-center border-0 p-2">
            <p-button (click)="confirmPosition('bottom')" icon="pi pi-arrow-up" label="Upload" styleClass="p-button-success p-mr-2"></p-button>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>