<p-carousel [value]="cartItems" styleClass="custom-carousel" [numVisible]="2" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h5>List of rented cars</h5>
    </ng-template>
    <ng-template let-cartItem pTemplate="item">
        <div class="cartitem-item">
            <div class="cartitem-item-content">
                <div class="p-mb-3">
                    <app-car-image-gallery [carId]="cartItem.carDetailDto.id"></app-car-image-gallery>
                </div>
                <div>
                    <h4 class="p-mb-1">{{cartItem.carDetailDto.brandName}}</h4>
                    <h6 class="p-mt-0 p-mb-3">${{cartItem.carDetailDto.dailyPrice}}</h6>
                    <span [class]="'product-badge status-'+cartItem.carDetailDto.brandName.toLowerCase()">{{cartItem.carDetailDto.dailyPrice}}</span>
                    <div class="car-buttons p-mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded p-mr-2">
                            <mat-icon>date_range</mat-icon>
                            <label>12-19-1999</label>
                        </p-button>
                    </div>
                    <div class="p-fluid p-grid p-formgrid fixed">
                        <div class="p-field p-col-12 p-md-4">
                            <p-calendar [inputId]="cartItem.carDetailDto.id" class="ng-invalid ng-dirty" [showIcon]="true" placeholder="Calendar"></p-calendar>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>