<div class="d-flex justify-content-center">
    <div *ngIf="dataLoaded==false" class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="card" *ngIf="dataLoaded==true">
    <h5>Programmatic Control</h5>
    <div class="p-mb-3">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
    </div>
    <p-table [value]="carDetailDtos" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>brandName</th>
                <th>colorName</th>
                <th>dailyPrice</th>
                <th>description</th>
                <th>modelYear</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-carDetailDto>
            <tr>
                <td>{{carDetailDto.id}}</td>
                <td>{{carDetailDto.brandName}}</td>
                <td>{{carDetailDto.colorName}}</td>
                <td>{{carDetailDto.dailyPrice}}</td>
                <td>{{carDetailDto.description}}</td>
                <td>{{carDetailDto.modelYear}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>