<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Filter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <form class="form">
                        <select name="colors" id="colors" class="colorcss form-item" [(ngModel)]="colorId">
                            <option *ngFor="let color of colors" [value]="color.id">
                                {{color.colorName}}</option>
                        </select>
                        <select name="brands" id="brands" class="brandcss form-item" [(ngModel)]="brandId">
                            <option *ngFor="let brand of brands" [value]="brand.id">
                                {{brand.brandName}}</option>
                        </select>
                    </form>
                    <button routerLink="/cars/getcardetailsbycolorIdandbrandId/{{colorId}}/{{brandId}}" class="btn bg-primary" (click)="getFilterBtn(colorId,brandId)">Filter</button>
                </li>
            </ul>
        </div>
    </div>
</nav>